.secao-secundaria {
  height: 100vh;
  display: flex;
}
.secao-secundaria .container-cards {
  width: 100%;
  height: 50vh;
  display: flex;
  gap: 16px;
  margin-left: 90px;
}
.secao-secundaria .cards {
  width: 272px;
  height: 306px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid black;
}
.secao-secundaria .cards .img-instrumentos, .secao-secundaria .cards h2, .secao-secundaria .cards p {
  margin-left: 34px;
}
.secao-secundaria .cards .img-instrumentos {
  margin-top: 27px;
}
.secao-secundaria .cards h2 {
  font-size: 24px;
  font-weight: 900;
}
.secao-secundaria .cards p {
  width: 204px;
}
.secao-secundaria .cards .seta-d {
  margin-left: 207px;
  margin-top: 46px;
}